<nav *ngIf="nav.visible">
  <ul>

      <li>
          <a routerLink="posts" [class.activated]="currentUrl == '/posts'">
            <i class="material-icons">forum</i>
          </a>
        </li>

    <li>
      <a routerLink="users" [class.activated]="currentUrl == '/users'">
        <i class="material-icons">people</i>
      </a>
    </li>

    <li>
        <a routerLink="send" [class.activated]="currentUrl == '/send'">
          <i class="material-icons">send</i>
        </a>
      </li>
    
    <li>
      <a routerLink="details/{{this.cookieval}}"  [class.activated]="currentUrl == '/details/22'">
        <i class="material-icons">face</i>
      </a>
    </li>

    <li>
        <a routerLink="chat" [class.activated]="currentUrl == '/chat'">
          <i class="material-icons">message</i>
        </a>
      </li>

      <li>
          <a routerLink="" [class.activated]="currentUrl == '' "(onclick) ="logout()" >
            <i class="material-icons">power_settings_new</i>
          </a>
        </li>
  </ul>
</nav>
